.idea
.git
android/.gradle
android/.idea
node_modules/
example/
.DS_Store
android/.DS_Store
android/src/.DS_Store
android/libs/couchbase-lite-android-ee-3.0.0.aar
android/src/.DS_Store
android/gradle/.DS_Store
android/src/.DS_Store
android/src/main/.DS_Store
android/src/main/java/com/reactlibrary/.DS_Store
android/src/main/.DS_Store
android/src/main/.DS_Store
android/src/.DS_Store
android/src/main/java/.DS_Store
android/src/main/java/com/.DS_Store
android/gradle/.DS_Store
android/src/.DS_Store
android/src/main/.DS_Store
android/gradle/.DS_Store
android/src/.DS_Store
android/src/main/.DS_Store
android/build/
android/local.properties
android/local.properties
android/src/.DS_Store
android/src/main/.DS_Store
android/src/main/java/.DS_Store
android/src/main/java/com/.DS_Store
README.md
